//
//  Secrets.xcconfig
//  Deliver
//
//  Created by asd on 7/17/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

MONGODB_API_KEY=mongodb://poopeating1234_db_user:zuRvyf-fotkoj-8jybne@ac-oh9gmfj-shard-00-00.j0vegkn.mongodb.net:27017,ac-oh9gmfj-shard-00-01.j0vegkn.mongodb.net:27017,ac-oh9gmfj-shard-00-02.j0vegkn.mongodb.net:27017/?ssl=true&replicaSet=atlas-s9kzg0-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Deliver

